.container_p{
    max-width: 100% !important;
    padding: 0 !important;
    padding-right: 1.25% !important;
    /* margin: 0 20px 0 0 !important;
    padding-left: 0 !important;
    padding-right: 19px !important; */
    cursor: pointer;
}